<p>verification section</p>

<form (ngSubmit)='decryptKeystore(pwd.value)'>

  <div fxLayout='row' fxLayoutAlign="start" fxLayoutWrap fxLayoutGap="2%">

    <div fxFlex="90%">
      <p>          
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Password</mat-label>
          <input matInput #pwd>
        </mat-form-field>
      </p>   
    </div>

    <div fxFlex="10%" fxFlexAlign="center" dir="rtl">
      <button mat-raised-button type='submit' color="primary">submit</button>
    </div>

  </div>
</form>

