<p>verification section</p>

<form (ngSubmit)='decryptKeystore(pwd.value, mnemonicIDs[0].value, mnemonicIDs[1].value, mnemonicIDs[2].value)'>

    <div fxLayout="row" fxLayoutAlign="start" fxLayoutWrap fxLayoutGap="2%">
        <div *ngFor="let mnemonic of mnemonicIDs" fxFlex= "32%">
    
            <h3>N°{{mnemonic}}</h3>
            <p>
              <mat-form-field appearance="fill" style="width:100%">
                  <mat-label>Mnemonic n°{{mnemonic}}</mat-label>           
                  <input matInput #{{mnemonic}}>
              </mat-form-field>
            </p>
        
        </div>
      
    </div>

  <div fxLayout='row' fxLayoutAlign="start" fxLayoutWrap fxLayoutGap="2%">

    <div fxFlex="90%">
      <p>          
        <mat-form-field appearance="fill" style="width:50%">
          <mat-label>Password</mat-label>
          <input matInput #pwd>
        </mat-form-field>
      </p>   
    </div>

    <div fxFlex="10%" fxFlexAlign="center" dir="rtl">
      <button mat-raised-button type='submit' color="primary">submit</button>
    </div>

  </div>
</form>

