/* AppComponent's private CSS styles */

body {
  margin-top: 0.2em;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
}

h1 {
    font-size: 250%;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0em;
  }
 
h2 {
    margin: 0em;
    font-size: 150%;
    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;

  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607d8b;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }
