<div class="text-align-center">
  <div fxLayout="row" fxLayoutAlign="start">
    <div fxFlex= "100%">    
        <h2 class="extra-padding-top">Welcome!</h2>
        <p>Would you like to:</p>
    </div>
  </div>
  
  <div fxLayout="row" fxLayout.xs="column" class="extra-padding-top">
      <div fxShow.xs="false" fxShow="true" fxFlex="20%"></div>
      <div fxFlex= "20%" fxFlex.xs="100%">
        <a routerLink="/mnemonic">
          <mat-card class="card">            
            <mat-card-title>CREATE</mat-card-title>
            <mat-card-subtitle>a new wallet</mat-card-subtitle>
          </mat-card>        
        </a>
      </div>

      <div fxShow.xs="false" fxShow="true" fxFlex="20%"></div>
      <div fxFlex= "20%" fxFlex.xs="100%">
        <a routerLink="/verification">
          <mat-card class="card">            
            <mat-card-title>CONNECT</mat-card-title>
            <mat-card-subtitle>to your existing wallet</mat-card-subtitle>
          </mat-card>        
        </a>
      </div>
      
  </div>
</div>