  h2 {
    margin: 0em;
    font-size: 200%;
    margin-bottom: 0;
    font-weight: lighter;
  }
  
  .extra-padding-top {
    padding-top: 3em;
  }

  .text-align-center {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .card:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }